<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New~Page</title>
</head>
<body>
    <h1>Create User</h1>
    <form action="/notes/?_method=PUT" method="POST">
        ID: <input type="number" name="id" id=""><br><br>
        Name: <input type="text" name="name" ><br><br>
        Age: <input type="number" name="age" ><br><br>
        <input type="submit" value="Add User">
    </form>
</body>
</html>