<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show~page</title>
</head>
<body>
    <h1>Individual Bio</h1>
    <p>
        I.D: <%=user.id%><br>
        Name: <%=user.name %> <br>
        Age: <%=user.age %> <br>


    </p>

    <a href="/notes">Home</a>
</body>
</html>